<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/course_card.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<div th:insert="header :: header"></div>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr th:each="course : ${courses}">
        <td class="title-cell" th:text="${course.title}"></td>
        <td class="description-cell" th:text="${course.description}"></td>
        <td th:text="${course.price}"></td>
        <td><a th:href="@{/edit_course(courseId=${course.id})}">Edit course</a></td>
    </tr>
</table>

<div th:if="${error}">
    [[${errorMessage}]]
</div>
<div th:insert="footer :: footer"></div>

</body>