<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div></div><a th:text = "${course.title}"></a></div>
    <!--    Change title form-->
    <!--    ...-->
    <div><a th:text = "${course.author.login}"></a></div>
    <div><a th:text = "${course.description}"></a></div>
    <!--    Change description (go to other page)-->
    <!--    ...-->
    <div><a th:text = "${course.price}"></a></div>
</body>