<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/form_2.css}" />
    <link rel="stylesheet" th:href="@{/css/course_card.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/text_edit.css}" />
</head>
<body>
    <div th:insert="header :: header"></div>
    <form th:action="@{/change_course_title}" method="post">
        <div>
            <input type="text" name="title" th:value="${course.title}">
            <input type="submit" value="Change">
        </div>
        <label><input type="hidden" name="course_id" th:value="${course.id}"></label>
    </form>
    <div class="input-container">
        <a th:text="${course.description}"></a>
        <form th:action="@{change_course_description}" method="post">
            <div class="input-container">
                <textarea name="description" placeholder="Course description:" rows="4" cols="50" required></textarea>
                <input type="hidden" name="courseId" th:value="${course.id}">
            </div>
            <input type="submit" value="Change">
        </form>
    </div>
    <form th:action="@{/change_course_price}" method="post">
        <div>
            <input type="number" name="price" th:value="${course.price}">
            <input type="submit" value="Change">
        </div>
        <label><input type="hidden" name="course_id" th:value="${course.id}"></label>
    </form>
    <table>
        <tr>
        <form th:action="@{/create_lesson}" method="post">
            <td>Title:</td>
            <td><input type="text" name="title" required></td>
            <input type="hidden" name="course_id" th:value="${course.id}">
            <td><input type="submit" value="Create new lesson"></td>
        </form>
        </tr>
        <tr th:each="lesson : ${lessons}">
            <td><a th:href="@{/edit_lesson(lessonId=${lesson.id})}" th:text="${lesson.title}"></a></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div th:if="${error}">
        <a style="color: red;">Error: [[$errorMessage]]</a>
    </div>

    <div th:insert="footer :: footer"></div>
</body>