<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authorization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/signin}" method="post">
        <div>Login:<label><input type="text" name="login"></label></div>
        <div>Password:<label><input type="password" name="password"></label></div>
        <div><input type="submit" value="SignIn"></div>
    </form>

    <div th:if="${error}">
        Error: [[${errorMessage}]]
    </div>
</body>